In [2]:
import pandas as pd

In [18]:
df_acc = pd.read_csv('../data/계좌정보.csv')

In [19]:
df_acc.head()

,act_id,cus_id,act_opn_ym
0,a9c528fb499a54ac617b06e5ed16a1609b69f4561fe51f...,a8fd98e9088474d7c4afa9c8d5d577d779719e5e674945...,198404
1,be28d1507558a7c763064ce0f9fe64b15830f541d78d44...,82fa07fe4d96acc0ade70a96ed332db72d580ef30a6c0d...,199305
2,39661c8738cdd7773b3a85c33f9cd952386b68e7091267...,3a57bdc08731d76dae6081dd13546e9a48b755c58e461d...,199604
3,d689878708ccdba7e1682eb393fa6792fd4d7ed8c78110...,e1fcda01f09346bf4fab40343d8bc2f70996d6a12a4987...,199901
4,505fa5ce63545724628b4f03cb3eb871ec3247bb7c66e2...,1e24d94b5e05142507318c40a3ea7854c3355328e3a891...,199009

In [20]:
df_acc.shape

(21322, 3)

In [21]:
df_cus = pd.read_csv('../data/고객정보.csv')

In [22]:
df_cus.shape

(10000, 6)

In [51]:
df_trn = pd.read_csv('../data/국내주식매매정보.csv')

In [315]:
df_trn.shape

(100000, 10)

In [326]:
df_trn.groupby('act_id').count().shape

(5615, 9)

In [25]:
df_tic = pd.read_csv('../data/종목정보.csv')

In [26]:
df_tic.shape

(3267, 3)

In [27]:
df_tic.head()

,iem_cd,iem_eng_nm,iem_krl_nm
0,A000540,HeungkukFire&MarineInsurance ...,흥국화재해상보험보통주 ...
1,A001680,Daesang ...,대상보통주 ...
2,A002390,HANDOK Inc. ...,한독보통주 ...
3,A002760,Bolak ...,보락보통주 ...
4,A003830,DaehanSyntheticFibrer ...,대한화섬보통주 ...

In [314]:
df_trn.tail()

,act_id,orr_dt,orr_ord,orr_rtn_hur,lst_cns_hur,iem_cd,sby_dit_cd,cns_qty,orr_pr,orr_mdi_dit_cd
99995,1a9404971ee7513db8609d65ec42621786a65caeb8a9ad...,20201104,8,11,11,A045660,2,488,33150.0,3
99996,dd47c909d5bcac7161d4a085166d2e305908ad464eb77f...,20201104,1,9,10,A021080,1,500,2480.0,3
99997,dd47c909d5bcac7161d4a085166d2e305908ad464eb77f...,20201104,2,10,10,A021080,1,600,2530.0,3
99998,dd47c909d5bcac7161d4a085166d2e305908ad464eb77f...,20201104,3,11,11,A285130,2,1,396500.0,3
99999,dd47c909d5bcac7161d4a085166d2e305908ad464eb77f...,20201104,4,12,12,A008350,2,200,4395.0,3

In [29]:
df_cus.head()

,cus_id,sex_dit_cd,cus_age,zip_ctp_cd,tco_cus_grd_cd,ivs_icn_cd
0,4d8b277319e2b9702558e2051e3921b7577b8f91af1c57...,1,70,29,04,-
1,6dd7a26cd20b8bf9f1a21112cdf6484f8d39941e927d5c...,1,70,27,01,05
2,402f2edf52c8f246c9dce54104461f6e07fc35a0a26bb6...,1,70,31,05,-
3,2659b16a9855e000a79da95970414c0502bb00d8d5ee82...,1,70,11,04,-
4,521ed7bcd25272bedf5c8b539873fb342e318b22b4fcaf...,1,70,41,03,04

In [37]:
df_cus_z = df_cus.loc[df_cus.cus_age < 30] #gen-Z

In [36]:
df_cus_z.shape

(2076, 6)

In [41]:
df_acc_z = df_acc[df_acc['cus_id'].isin(df_cus_z['cus_id'])] #gen-Z accounts

In [42]:
df_acc_z.shape

(3252, 3)

In [77]:
df_trn_z = df_trn[df_trn['act_id'].isin(df_acc_z['act_id'])] #gen-Z transactions

In [78]:
df_trn_z.shape

(6590, 10)

In [61]:
df_trn_z.loc[df_trn_z.orr_mdi_dit_cd != 3].shape #number of gen-Z non-MTS transactions

(308, 10)

In [66]:
(len(df_trn_z)-308)/len(df_trn_z) #percentage of gen-Z MTS transactions

0.9532625189681335

In [68]:
df_trn_nz = df_trn[~df_trn['act_id'].isin(df_acc_z['act_id'])] #non gen-Z transactions

In [71]:
df_trn_nz.loc[df_trn_nz.orr_mdi_dit_cd != 3].shape #number of gen-Z non-MTS transactions

(14362, 10)

In [237]:
(len(df_trn_nz)-14362)/len(df_trn_nz) #percentage of non gen-Z MTS transactions

0.8462477250829675

In [247]:
df_trn_z['orr_amt'] = df_trn_z['cns_qty']*df_trn_z['orr_pr']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [248]:
trans_z = df_trn_z.groupby('iem_cd')['orr_amt'].sum().sort_values(ascending=False)

In [249]:
len(trans_z)

1250

In [327]:
sum = 0
for i in range(50):
    sum += trans_z[i]

In [328]:
sum

2554659986.0

In [329]:
sum / df_trn_z['orr_amt'].sum()

0.42600353578234135

In [330]:
df_trn_nz['orr_amt'] = df_trn_nz['cns_qty']*df_trn_nz['orr_pr']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [331]:
trans_nz = df_trn_nz.groupby('iem_cd')['orr_amt'].sum().sort_values(ascending=False)

In [332]:
len(trans_nz)

2556

In [340]:
sum_nz = 0
for i in range(50):
    sum_nz += trans_nz[i]
print(sum_nz)

56191220524.0

In [338]:
sum_nz / df_trn_nz['orr_amt'].sum()

0.5002986703200066

In [296]:
26/21

1.2380952380952381

In [203]:
36/23

1.565217391304348